#color-ul > li{
    font-size: 24px;
    font-weight: bold;
}

#color-ul>li:nth-child(1){color: red;}
#color-ul>li:nth-child(2){color: #9aacff;}
#color-ul>li:nth-child(3){color: rgb(16, 86, 247);}
#color-ul>li:nth-child(4){color: rgba(16, 86, 247, 0.5);} /* 투명도 */
#color-ul>li:nth-child(5){color: hsla(222, 94%, 52%);}
#color-ul>li:nth-child(6){color: hsla(222, 94%, 52%, 0.5);}

/* text-decoration */
#deco-ul > li:nth-child(1){text-decoration:underline;}
#deco-ul > li:nth-child(2){text-decoration:line-through;}
#deco-ul > li:nth-child(3){text-decoration:overline;}
#deco-ul > li:nth-child(4)>a{text-decoration:none;}

#align-test{
width: 350px;
border: 2px solid black;
color: blue;
}

#align-test span {background-color: pink;}
#align-test> p:nth-child(1) {text-align : left;}
#align-test> p:nth-child(2) {text-align : right;}
#align-test> p:nth-child(3) {text-align : center;}
#align-test> p:nth-child(4) {text-align : justify;}


#div1 div{
    text-align: center;
}

#div1>div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}
