.area1{ background-color: red;}
.area2{ background-color: orangered;}
.area3{ background-color: yellow;}
.area4{ background-color: green;}
.area5{ background-color: blue;}

.block{
    border: 1px solid black;
    width: 150px;
    height: 150px;

    display: block;
}

.line{
    display: inline;
}

.inline-block{
    display: inline-block;
}




/* 연습 1번 */
#container-1{
    border: 1px solid black;
    width: 323px;
    height: 500px;
}
#container-1>div:first-of-type{
    background-color: red;
    /* width: 100%; */
    height: 30%
}
#container-1>div:last-of-type{
    background-color: blue;
    height: 70%;
}


/* 연습 2번 */
#container-2{
    border: 3px solid black;
    width: 323px;
    height: 500px;
}
#container-2>div:first-of-type{
    background-color: yellowgreen;
    height: 20%;
}
#container-2>div:nth-of-type(2){
    background-color: orangered;
    height: 30%;
}
#container-2>div:last-of-type{
    background-color: skyblue;
    height: 50%;
}


/* 연습 3번 */
#container-3{
    border: 5px solid red;
    width: 400px;
    height: 200px;
    display: flex;
}
#container-3>div:first-of-type{
    background-color: pink;
    width: 50%;
}
#container-3>div:last-of-type{
    background-color: midnightblue;
    width: 50%;
    
}



.div-4{
    border: 3px solid black;
    height: 100px;
}
#test4{
    background-color: deeppink;
    /* display: none; */
    /* 요소는 존재하지만 화면에 보이지 않는다
        + 영역도 차지하지 않는다.  */

    /* opacity: 0.5; 요소의 가시성을 관리하는 속성 */
       visibillity: hidden; /* 요소의 투명도를 0으로 만드는 속성 */
}