*{
    box-sizing: border-box;
}
.kh{
    margin-left: 10%;
    width: 80%;
    height: 800px;
}

.box{
    border: 1px solid black;
}


.top{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.top1{
    width: 20%;
    height: 100%;
}

.top2{
    width: 60%;
    height: 100%;
    display: flex;           
    justify-content: center;  
    align-items: center;
}
.top2 input{
    width: 65%;
    height: 15%;
    border: 2px solid navy;
}

.top3{
    width: 20%;
    height: 100%;

}


.mid{
    width: 100%;
    height: 5%;
    display: flex;
}
.mid > div {
    width: 15%;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.mid > div:hover{
    background-color: black;
    color: white;

}

 /* position: sticky; */
    /* sticky
        - 스크롤이 임계점에 도달했을 때 화면에 스티커처럼 요소를 붙이는 속성
        - 평소에는 기본 position상태를 유지하다가, 이몌점 도달시 fixed로 변경한다. */


.bottom{
    width: 100%;
    height: 70%;
    display: flex;
}
.bottom1{
    height: 100%;
    width: 75%;
}
.bottom2{
    height: 100%;
    width: 25%;
    
}


.idBox{
    margin: 10px;
    width: 85%;
    height: 10%;
    display: flex;

}
.login-input{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.login-input input{
    width: 100%;
    height: 100%;
    border: 0.5px solid lightgray;
    padding-left: 5px;
    margin-left: 2px;
    border: none;
    outline: none;
}
.login-btn{
    width: 30%;       
    display: flex;    
    justify-content: center;
    align-items: center;     
    cursor: pointer;
    font-size: 10px;
    border-left: 1px solid black;
}
.login-btn:hover{
    background-color: rgb(231, 231, 231);
    font-weight: bold;
}
.join{
    margin: 10px;
    width: 85%;
    height: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    font-size: 13px;
}
.join-1:hover{
   text-decoration: underline;
}
.join-2:hover{
   text-decoration: underline;
}

.sun{
   margin: 0 10px;    
    color: lightgray 
}