#test1>p:only-child{
    background-color: steelblue;
}

/* 같은 형들 중 하나일 떄 */
#test2>p:only-of-type{
    background-color: seagreen;
}



/* 
    :empty
*/
#test3>p:empty{
    height: 30px;
    background-color: lime;
}



/* 여러선택자 동시 선택 */
#test4-1, #test4-2, .test4-3{
    background-color: yellow;
} 

/* 특정 요소 내부의 클래스 선택 */
#test5-1 .c5{
    background-color: aquamarine;
}

/* 여러 클래스를 가진 요소 선택 */
.c6{
    background-color: pink;
}